/* Header.css */

/* For larger screens: show full navigation bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #fff;
}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    font-family: "DM Sans", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3em;
}

.nav-link:hover {
    color: red
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* For smaller screens: hide full navigation bar and show icon */
.mobile-nav {
    display: none;
}

.custom-modal .ant-modal {
    width: 200px;
    height: 500px;
    top: 0;
    right: 0;
    position: fixed;
}

.custom-modal .ant-modal-content {
    height: 100%;
}

.custom-modal .ant-modal-body {
    overflow-y: auto;
}

/* Header.css */

/* Custom modal styling */
.custom-modal .ant-modal {
    width: 50px;
    /* Set width */
    height: 200px;
    /* Set height */
    top: 0;
    /* Align top of modal with the top of the screen */
    right: 0;
    /* Align right side of modal with the right side of the screen */
    position: fixed;
    /* Fixed position for modal */
    margin: 0;
    /* Remove default margin */
    border: 2px solid black;
}

.custom-modal .ant-modal-content {
    height: 100%;
    /* Make content fill the height of the modal */
}

.custom-modal .ant-modal-body {
    overflow-y: auto;
    /* Add scroll if content overflows */
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #fff;
    }
}