.process-container {
  margin-bottom: 60px;
  padding-top: 50px;
}

.process-h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  color: rgb(245, 237, 237);
  background-color: #f51636;
  border-radius: 5px;
  padding: 5px 15px;
  /* display: inline-block; */
}

.process-h2 {
  font-size: 40px;
  color: #173f5f;
  font-family: "Fira Sans", Sans-serif;
  font-weight: 700;
  margin-top: 10px;
}

.process-p {
  font-size: 16px;
  color: #5e6d64;
  text-align: center;
}
