/* CenteredTextSection.css */
.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-content {
    text-align: center;
  }
  
  .centered-content h2 {
    font-size: 26px;
    color: #172b43;
    margin-bottom: 20px;
   font-weight: 800;
   line-height: 1.2em;
  }
  
  .centered-content h2 span {
    color: red;
  }
  
  .centered-content p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
   color: #5e6d64;
    font-family: "DM Sans", Sans-serif;
    font-weight: 400;
  }
  