.package-card, .package-card, .package-card {
  padding: 10px;
  border-radius: 10px;
  margin: 12px;
}

.package-card1 {
  background-color: #b981f2;
}

.package-card2 {
  background-color: #e3f8ec;
}

.package-card3 {
  background-color: #cdf9fe
}

.package-card1 h1  {
  font-size: 50px;
  color: #ada5e3;
  margin: 0;
}
.package-card2 h1{
  font-size: 50px;
  margin: 0;
  color: #9dcca3;
}
.package-card3 h1{
  font-size: 50px;
  margin: 0;
  color: #48ac8c;
}
.package-card1 h2 {
  font-size: 20px;
  margin: 0;
  color:#ffffffe6;
}
.package-card2 h2{
  font-size: 20px;
  margin: 0;
color: #28c968;
} 
.package-card3 h2{
  font-size: 20px;
  margin: 0;
color: #449099;
}
.package-card1 p {
  margin: 10px 0;
  color: #ffffffd4;
  font-size: 15px;
}
.package-card2 p{
  margin: 10px 0;
  color:#5e6d64cc;
  font-size: 15px;
}
.package-card3 p{
  margin: 10px 0;
  color:  #00030442;
  font-size: 15px;
}
.package-card1 .icon {
  font-size: 30px;
  color: white;
}

.package-card2 .icon {
  font-size: 30px;
  color: rgb(28, 115, 105);
}

.package-card3 .icon {
  font-size: 30px;
  color: plum;
}
