.container{
    align-items: center;
   
}


.heading {
    line-height: 1.2em !important;
    font-weight: 800 !important;
    font-style: normal !important;
    font-family: "Fira Sans", Sans-serif !important;
    color: #0e0e0e !important;
    font-size: 20px;
}

.para{
    font-size: 16px !important;
        color: #5e6d64 !important;
        line-height: 1.6em !important;
        font-weight: 400 !important;
        font-style: normal !important;
        font-family: "DM Sans", Sans-serif !important;
}