.block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner_block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin: 40px; */
    padding: 30px;
  }
  
  .inner_block_para {
    display: inline-block;
    margin-left: 15px;
  }
  
 
  
  @media (max-width: 768px) {
    .inner_block {
      flex-direction: column;
      margin: 20px;
      padding: 20px;
    }
  
    .inner_block_para {
      margin-left: 0;
      margin-top: 20px;
      text-align: center;
    }
  
}
  