.icon-container {
  align-items: center;
  background-color: #f60640;
  border-radius: 30px;
  padding: 50px;
  width: 93%;
}

.icon-box {
  color: white;
}

.icon-box i {
  font-size: 40px;
  color: beige;
  margin-bottom: 27px;
}

.bloc {
  color: aliceblue;
  text-align: center;
}

.icon-box p {
  font-size: 19px;
}

/* Responsive styles for smaller screens */
@media (max-width: 767px) {
  .icon-container {
    padding: 20px;
    width: 100%;
  }

  .icon-box i {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .icon-box p {
    font-size: 16px;
  }
}
