.blogs-container {
  padding: 20px 0;
}

.blog-header {
  width: 100%;
  background-color: #ee1535;
}

.bl {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  color: aliceblue;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  color: #2d3748;
  font-size: 20px;
  line-height: 1.5;
}

.btn-danger {
  background-color: red;
  border-radius: 30px;
}

.btn-danger:hover {
  background-color: darkred;
}

