.ChooseService{
    text-align: center;
}
.ChooseServicesHeading{
    font-family: "Fira Sans", Sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2em;
    color: #172b43;
}
.ChooseServicesPara{
    text-align: left;
    color: #5e6d64;
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}