.main-box {
  margin-top: 70px;
  background-color: #f0f0f0;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #c2bcbc;
}

.inner-box {
  cursor: pointer;
  width: calc(25% - 20px);
  /* 4 boxes in a row for large screens */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  border: 2px solid #dbd2d2;
  margin-bottom: 10px;
}


.Heading {
  margin-left: -28px;
  margin-top: 50px;
  font-family: "Raleway", Sans-serif;
  color: #172b43;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.1em;
}

.para1 {
  padding-bottom: 15px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.btn-1 {
  padding: 0px 35px;
}

.butn {
  background-color: #f51636;
  color: white;
  border: none;
  padding: 8px 27px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 25px;
  margin-bottom: 20px;
  /* Adjust the value as needed */
}

.box-num {
  font-size: 20px;
}

.butn:hover {
  background-color: #f51636;
  transform: scale(1.05);
}

.butn:active {
  transform: scale(1);
}

.main-button {
  font-family: DM-Sans;
  flex-basis: 80%;
  padding: 8px;
  background-color: #f51636;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.inner-box:hover:not(.selected) {
  background-color: red;
  color: white;
  border-color: red;
}

.inner-box:hover:not(.selected) h6 {
  color: white;
}

.inner-box.selected {
  background-color: red;
  color: white;
  border-color: red;
}

.btn-1:hover {
  color: rgb(234, 68, 68);
}

.inner-box.selected h6 {
  color: white;
}

.main-button:hover {
  background-color: rgb(234, 68, 68);
}

.output-container {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .inner-box {
    width: calc(33.33% - 20px);
    /* 3 boxes in a row for medium screens */

  }

  .container {
    margin-top: -90px;
  }

  .butn {
    margin-bottom: 15px;
  }

  .main-box {
    padding: 10px;
    padding-top: 30px;

  }
}