

.package-card3 {
  background-color: #cdf9fe
}


.package-card3 h1{
  font-size: 50px;
  margin: 0;
  color: #48ac8c;
} 
.package-card3 h2{
  font-size: 20px;
  margin: 0;
color: #449099;
}
.package-card1 p {
  margin: 10px 0;
  color: #ffffffd4;
  font-size: 15px;
}
.package-card2 p{
  margin: 10px 0;
  color:#5e6d64cc;
  font-size: 15px;
}
.package-card3 p{
  margin: 10px 0;
  color:  #00030442;
  font-size: 15px;
}
.package-card1 .icon {
  font-size: 30px;
  color: white;
}

.package-card2 .icon {
  font-size: 30px;
  color: rgb(28, 115, 105);
}

.package-card3 .icon {
  font-size: 30px;
  color: plum;
}
