.checkout-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* .left-column {
    padding-right: 10px;
  }
  
  .right-column {
    margin-top: 80px;
    padding-left: 10px;
  }
   */