.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    margin-top: 1.5rem;
    background: #EBE4E469;
    padding: 0 20px;
}

.full-width-collapse {
    width: 100%;
}

.open-panel-header .ant-collapse-header {
    color: red !important;
}

/* Adjust margins for smaller screens */
@media screen and (max-width: 786px) {
    .full-width-collapse {
        width: 100%;
    }
}

/* Adjust padding for larger screens */
@media screen and (min-width: 786px) {
    .main {
        padding: 0 60px;
    }
}